
.header{
    min-height: 60px;
    background-color: darkred;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.outlet {
    margin: 0 auto;
}

.header img{
    width: 100px;
    height: 100px;
}

.search {
    margin-left: 35%;
}
